
     <div class="col-md-6 col-lg-4">
<div class="card">
            <div class="img-place">
                {% if post.photo %}
                    <img src="{{ url_for('static', filename='img/' + post.photo.path) }}">
               {% endif %}
            </div>
            <div class="caption">
              <a href="javascript:void(0)" class="post-category">{{ post.category }}</a>
              <a href="#" class="post-title">{{ post.title }}</a>
              <span class="post-date"><span class="sr-only">!Published on</span> May 22, 2018</span>
            </div>
</div>
     </div>

